#!/bin/bash

# source .env && ./vendor/bin/phpunit tests

## Bark
export BarkToken=
export BarkCustomURL=
export BarkCustomToken=

## Chanify
export ChanifyToken=
export ChanifyCustomURL=
export ChanifyCustomToken=

## Dingtalk
export DingtalkToken=
export DingtalkSecret=

## Feishu
export FeishuToken=
export FeishuSecret=

## Mailer
export SMTPHostPort=
export SMTPUser=
export SMTPFrom=
export SMTPTo=

## Miaomiao
export MiaomiaoToken=

## NowPush
export NowPushToken=

## PushBack
export PushBackToken=

## Pushbullet
export PushbulletToken=

## PushDeer
export PushDeerToken=
export PushDeerCustomURL=
export PushDeerCustomToken=

## Pushover
export PushoverToken=
export PushoverUserKey=
export PushoverGroupKey=

## PushPlus
export PushPlusToken=

## Pushsafer
export PushsaferToken=

## QQ Channel Bot
export QQBotToken=
export QQBotAppId=
export QQBotChannelId=

## ServerChan
export ServerChanToken=

## Showdoc
export ShowdocToken=

## Techulus
export TechulusToken=

## Webhook
export WebhookTokenGet=
export WebhookTokenPost=
export WebhookTokenPostJSON=

## WeCom（企业微信群机器人）
export WeComToken=

## WxPusher
export WxPusherToken=

## Xizhi
export XizhiToken=
export XizhiChannelToken=
